.adminSidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  /* background: #2f434f; */
  background: #ffffff;
  border-right: 1px solid #d9d9d9;
}

.adminSidebar .siteName {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  /* color: #ffffff; */
  color: rgb(38, 38, 38);
  text-align: center;
  margin: 2rem 0;
}

.adminSidebar .links {
  overflow-y: overlay;
  max-height: 80vh;
  padding-bottom: 2rem;
}

.adminSidebar .links a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* color: #ffffff; */
  color: rgb(38, 38, 38);
  list-style: none;
  padding: 20px 30px;
  display: block;
}
.adminSidebar .links a {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  /* color: #ffffff; */
  color: rgb(38, 38, 38);
  list-style: none;
  padding: 15px 20px 15px 20px !important;
  display: block;
}
.sideInfoContainer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  /* background-color: #687e8b; */
  background-color: rgb(230, 247, 255);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  border-radius: 10px;
}
.sideInfoContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  /* background-color: #687e8b; */
  background-color: rgb(230, 247, 255);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  border-radius: 00px;
}

.adminSidebar .sideInfoHead {
  position: relative !important;
  bottom: unset;
  left: unset;
  margin: 10px;
  margin-bottom: 2rem;
}

.adminSidebar .sideInfoHead {
  position: relative !important;
  bottom: unset;
  left: unset;
  margin: 0px;
  margin-bottom: 0rem;
}
.adminSidebar .sideInfoHead p {
  font-size: 13px;
}

.adminSidebar p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  color: #141414 !important;
}

.adminSidebar .activeLink {
  background-color: #909699;
  background-color: rgb(230, 247, 255);
  border-left: 2px solid rgb(24, 144, 255);
  color: rgb(24, 144, 255);
  /* color: #ffffff; */
  padding: 15px !important;
  margin: 15px 25px;
  border-radius: 5px;
}

.adminSidebar .activeLink {
  background-color: #909699;
  background-color: rgb(230, 247, 255);
  border-left: 2px solid rgb(24, 144, 255);
  color: rgb(24, 144, 255);
  /* color: #ffffff; */
  padding: 15px !important;
  margin: 15px 25px;
  padding: 15px 20px 15px 20px !important;
  margin: 15px 20px 15px 20px !important;
  border-radius: 0px;
}
.activeLink {
  color: rgb(24, 144, 255) !important;
}
.adminSidebar .logoutBtn {
  background: #f45b5b;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  border: none;
  padding: 10px 30px;
}

.adminLayout {
  background: #f9f9f9;
  background: #fafafb;
  width: calc(100% - 350px);
  margin-left: 350px;
  min-height: 100vh;
  padding: 3rem;
  padding-bottom: 20px !important;
}

.cs_container {
  background: #ffffff;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
}

.filter_item_container {
  min-width: 250px;
  max-width: 300px;
}
.adminSidebar:hover .links::-webkit-scrollbar {
  display: block;
  padding-right: 25px;
  padding: 25px;
  margin: 25px;
}
.links::-webkit-scrollbar {
  width: 5px;
  padding-right: 25px;
  padding: 25px;
  margin: 25px;

  display: none;
}

/* Track */
.links::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.links::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 5px;
}

/* Handle on hover */
.links::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (min-width: 1000px) {
  .mobileNav {
    display: none;
  }
}

@media (max-width: 1000px) {
  .adminSidebar {
    display: none;
  }
  .adminLayout {
    width: 100%;
    margin-left: 0;
    padding: 1.5rem;
  }

  .sideInfoContainer {
    position: relative !important;
    width: 100% !important;
    left: unset;
    bottom: unset;
    margin-top: 2rem;
  }

  .filter_item_container {
    max-width: unset;
  }
}

