.main_navbar_inner {
  width: 100%;
  padding: 15px 25px;
  background: linear-gradient(180.58deg, #811faf 0.45%, #81396f 99.45%);
  box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  position: relative;
  max-width: 1800px;
  color: white;
}

.main_navbar_inner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  pointer-events: none;
}

.main_navbar_inner h4,
.main_navbar_inner ul {
  margin-bottom: 0;
}

.main_navbar_inner li {
  list-style: none;
  cursor: pointer;
}

.main_navbar_inner img {
  max-height: 40px;
}

.main_navbar {
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 20px;
  top: 0;
}

.user_drop_down {
  position: absolute;
  right: 0;
  top: 75px;
  transition: all ease 0.5s;
  opacity: 1;
  min-height: 100px;
  width: 100%;
  padding: 1.5rem;
  z-index: 999;
  min-width: 350px;
}

.user_drop_down_fade {
  top: 150px;
  opacity: 0;
  pointer-events: none;
}

.headBackground {
  overflow: hidden;
}

.headBackground_gradient {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  height: 40vh;
  left: 0px;
  top: 0px;
  background: linear-gradient(180.58deg, #5f0a87 0.45%, #612652 99.45%);
  z-index: -1;
}

.headBackground_image {
  content: "";
  position: absolute;
  width: 735px;
  height: 673px;
  left: calc(100% - 735px);
  top: 0px;
  background: url(/wing.svg);
}

.headBackground_image_alternative {
  background: url("/main_hero.svg");
  background-repeat: no-repeat;
}

.breadcrumb {
  margin: 0 4rem;
  margin-top: 21vh;
  margin-bottom: 10vh;
  color: #ffffff;
  position: relative;
}

.blurContainer {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) -27.25%,
    rgba(255, 255, 255, 0) 62.9%
  );
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  color: white;
  position: relative;
  margin: 0 25px;
  z-index: 1;
  padding: 2rem;
}

.blurContainer::after {
  background: rgba(53, 11, 45, 0.37);
  box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.primary_btn {
  border: none;
  background: linear-gradient(95.68deg, #ff9c19 -0.43%, #ffdd2d 100%);
  box-shadow: 0px 20px 40px rgba(255, 221, 45, 0.25);
  border-radius: 15px;
  font-weight: 800;
  min-height: 50px;
  text-align: center;
  line-height: 50px;
}

.primary_text {
  color: #ffa11b !important;
}

.secondary_btn {
  background: linear-gradient(95.68deg, #626262 -0.43%, #343434 100%);
  box-shadow: 0px 20px 40px rgba(75, 75, 75, 0.25);
  border-radius: 15px;
  font-weight: 800;
  min-height: 50px;
  text-align: center;
  line-height: 50px;
  border: none;
}

.abs_close_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  line-height: 40px;
  background-color: #21252996;
}

.iconBg {
  background: linear-gradient(
    180deg,
    #ff9c19 0%,
    rgba(255, 221, 45, 0.35) 100%
  );
  box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.25);
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 15px;
}

.darkContainer {
  background: rgba(53, 11, 45, 0.37);
  box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.lightContainer {
  background: linear-gradient(
    180deg,
    rgb(124, 77, 114) 0%,
    rgb(111, 58, 100) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.input_field {
  background: #f7f7f7;
  border-radius: 15px;
  border: 1px solid #c9c9c9;
  min-height: 50px;
  padding: 0 15px;
}

.footer {
  background: #350b2d;
  position: relative;
  overflow: hidden;
}

.footer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 810px;
  left: 0;
  top: 0;
  background: url(/footer_bg.svg);
  pointer-events: none;
}

.ultraLightContainer {
  background: #a9769b !important;
  border-radius: 15px;
  transition: transform cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
}

.gameKey {
  width: 72px;
  height: 72px;
  transition: all ease 0.5s;
}

.gameKey_small {
  width: 50px;
  height: 50px;
  transition: all ease 0.5s;
}

.gameKey_zoom {
  transform: scale(1.2);
  border-width: 3px;
  border-style: solid;
}

.gameKey_loading {
  animation-name: blinking_keys;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-direction: alternate-reverse;
}

.gameKey_unload {
  animation-name: blinking_keys_end;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-direction: alternate-reverse;
}

.gameKey_no_bg {
  background: border-box !important;
  transition: all ease;
}

.black_key {
  background: #000000 !important;
}

.red_key {
  background: #f44336 !important;
}

.roulette_base {
  transition: all ease 0.5s;
}

.roulette_disabled {
  opacity: 0.5;
  transform: scale(0.85);
}

.wheel_base {
  background: url(/wheel.svg);
  min-height: 100px;
  min-width: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .blurContainer {
    margin: 0;
  }

  .main_navbar {
    padding: 0;
  }

  .main_navbar_inner {
    border-radius: 0;
  }

  .game_navbar_inner {
    border-radius: 15px !important;
  }

  .game_navbar_inner::after {
    border-radius: 15px !important;
  }

  .main_navbar_inner::after {
    border-radius: 0;
  }

  .gameKey {
    width: 3rem;
    height: 3rem;
  }

  .gameKey_small_expand {
    width: 100%;
  }

  .gameRow {
    gap: unset !important;
    width: 100%;
    justify-content: space-around;
  }
}

.transparent_input {
  border: none;
  width: 100%;
  padding: 0 15px;
  border-radius: 0 15px 15px 0;
  outline: none;
}

@keyframes blinking_keys {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0.5;
    transform: scale(0.95);
  }
}

@keyframes blinking_keys_end {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@keyframes disable_roulette_panel {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    transform: scale(0.85);
    opacity: 0.5;
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotate_base {
  transition: all 0.2s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: rotate(0deg);
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.stop-rotate {
  transform: rotate(90deg);
}

.slot {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
  overflow: hidden;
  gap: 20px;
}

.slot .row {
  flex: 1 0 auto;
  overflow: hidden;
  border-radius: 15px;
  background: linear-gradient(
    0deg,
    rgb(204, 203, 203) 0%,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255) 50%,
    rgb(255, 255, 255) 80%,
    rgb(204, 203, 203) 100%
  );
}

.slot .ringMoving {
  height: 400px;
  text-align: center;
  animation: goaround 0.2s linear infinite;
}

.slot .ringEnd {
  height: 250px;
  text-align: center;
  animation: stop 0.5s ease-out forwards;
}

@keyframes goaround {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2000px);
  }
}

@keyframes stop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-90px);
  }
  75% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(-100px);
  }
}
