@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  overflow-x: hidden;
}

.bg {
  background: #612652;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background: transparent;
}

.react-loading-skeleton {
  --base-color: rgb(111, 58, 100) !important;
  --highlight-color: #a9769b !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  line-height: unset !important;
}

.hamburger-menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2rem;
  width: 2.2rem;
  cursor: pointer;
}
.bar-top,
.bar-middle,
.bar-bottom {
  height: 3px;
  background: white;
  border-radius: 5px;
  margin: 2px 0;
  transform-origin: left;
  transition: all 0.5s;
}
.hamburger-menu-active .bar-top {
  transform: rotate(45deg);
}
.hamburger-menu-active .bar-middle {
  transform: translateX(1rem);
  opacity: 0;
}
.hamburger-menu-active .bar-bottom {
  transform: rotate(-45deg);
}

.no-background-head {
  margin-top: 118px;
}

.orange {
  color: #ff9c19;
}

.border-10 {
  border-radius: 10px !important;
}

.centerized-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.spaced {
  margin-top: 30vh;
  margin-bottom: 5rem;
}

.bb-1-1 {
  border-right: 2px dashed lightgray;
  border-bottom: 2px dashed lightgray;
}

.bb-1-2 {
  border-bottom: 2px dashed lightgray;
}

.bb-1-3 {
  border-left: 2px dashed lightgray;
  border-bottom: 2px dashed lightgray;
}

.bb-2-1 {
  border-right: 2px dashed lightgray;
}

.bb-2-3 {
  border-left: 2px dashed lightgray;
}

.bb-3-1 {
  border-top: 2px dashed lightgray;
  border-right: 2px dashed lightgray;
}

.bb-3-2 {
  border-top: 2px dashed lightgray;
}

.bb-3-3 {
  border-top: 2px dashed lightgray;
  border-left: 2px dashed lightgray;
}

/* animation */

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

@keyframes overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.popup-content {
  -webkit-animation: anvil 0.2s cubic-bezier(0.38, 0.1, 0.36, 0.9) both;
  animation: anvil 0.2s cubic-bezier(0.38, 0.1, 0.36, 0.9) both;
  min-height: 200px;
  min-width: 600px;
  border-radius: 15px;
  padding: 2rem !important;
  width: 60vw;
  max-width: 800px;
  overflow-x: auto;
  background-color: #ffffff;
  border: 1px solid lightgray;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.popup-content .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: whitesmoke;
  border: none;
  border-radius: 25%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid lightgray;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.3);
  animation: overlay 0.2s cubic-bezier(0.38, 0.1, 0.36, 0.9) both;
}

table th:first-child {
  border-radius: 15px 0 0 15px;
}

table th:last-child {
  border-radius: 0 15px 15px 0;
}

.btn-light {
  --bs-btn-bg: #efefef;
}

.form-control {
  border-radius: 0.375rem !important;
}

.input-group .form-control {
  border-radius: 0 0.375rem 0.375rem 0 !important;
}

.input-group .input-group-text {
  border-radius: 0.375rem 0 0 0.375rem !important;
  border-right: none !important;
}

.css-b62m3t-container {
  z-index: 99;
  min-width: 300px;
}

.code-input {
  letter-spacing: 15px;
}
@media (max-width: 992px) {
  .spaced {
    margin-top: 20vh;
  }

  .popup-content {
    width: 100vw;
    height: 100vh;
    border: none;
    border-radius: 0;
    min-width: 100%;
  }
}

.next-error {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.next-error-h1 {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 0;
  margin-right: 20px;
  padding: 10px 23px 10px 0;
  font-size: 24px !important;
  font-weight: 500;
  vertical-align: top;
}

.next-error-h2 {
  font-size: 14px !important;
  font-weight: normal;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.next-error-container {
  display: inline-block;
  text-align: left;
  line-height: 49px;
  height: 49px;
  vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
  .next-error-h1 {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.input-group-text {
  border-radius: 15px 0 0 15px !important;
}

.alert {
  --bs-alert-border-radius: 1rem;
}

.action-btn {
  min-height: 50px;
}
.transitioned {
  transition: all ease 0.5s;
}

.sc__inner {
  position: relative;
  top: 0;
  left: 0;
  width: 40em;
  height: 40em;
}
.sc__wrapper {
  display: block;
  width: 40em;
  height: 40em;
  margin: 0 auto;
}

.sc__container {
  position: relative;
  overflow: hidden;
  height: 40em;
  max-width: 40em;
}

.sc__container > img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.sc__container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.sc__infos {
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 18px;
}

.ph-item,
.ph-item *,
.ph-item ::after,
.ph-item ::before {
  box-sizing: border-box;
}
.ph-item::before {
  content: " ";
  position: absolute;
  top: -10%;
  right: 0;
  bottom: 0;
  left: 50%;
  z-index: 1;
  width: 500%;
  height: 100em;
  rotate: 10deg;
  margin-left: -250%;
  animation: ph-animation 1s linear infinite;
  background: linear-gradient(
      to right,
      rgba(253, 252, 252, 0) 46%,
      rgba(253, 252, 252, 0.15) 51%,
      rgba(253, 252, 252, 0) 54%
    )
    50% 50%;
}
.ph-item > * {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  padding-right: 0;
  padding-left: 0;
}

@keyframes ph-animation {
  from {
    transform: translate3d(-30%, 0, 0);
  }
  to {
    transform: translate3d(30%, 0, 0);
  }
}

.btn-light {
  background-color: #bae7ff !important;
  color: rgb(20, 47, 73);
  font-weight: bold;
}
.fw-lighter {
  font-weight: bold !important;
}
.fw-light {
  font-weight: bold !important;
  opacity: 0.7;
}
.w-100 {
  min-width: 250px !important;
}
