.about_us_faq::after {
  position: absolute;
  width: 31%;
  height: 528px;
  right: 0;
  top: 0;
  content: "";
  background: url(/shape-1.svg);
  pointer-events: none;
}

.faq_header_wrapper {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.faq_sub_box {
  overflow: hidden;
  transition: all 0.3s ease-out;
  height: 0;
  margin: 0 20px;
  padding: 0 10px;
  align-self: flex-start;
  text-align: left;
  @media (max-width: 1000px) {
    font-size: 0.8rem;
  }
}

.faq_sub_box_active {
  padding-bottom: 10px;
}

.contact_us_info {
  position: absolute !important;
  left: 0;
  height: 80%;
  top: 10%;
}

.contact_us_info p {
  font-size: 15px;
}

.topup_pay_options {
  width: 15%;
  min-width: 150px;
}

.game_card {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(80px);
  border-radius: 25px;
  background: url(/game_card_bg.png);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-size: cover;
}

.game_card_info {
  position: absolute !important;
  top: 15px;
  right: 15px;
}

.main_start_play {
  background-color: #511d44;
  background-image: url("/start_play.png");
  background-size: cover;
}

.main_start_play_lightContainer {
  width: 90px;
  height: 90px;
}

.main_start_play_hr {
  position: absolute;
  width: 90%;
  top: 90px;
  border-style: dashed;
  z-index: 0;
  opacity: 1;
  margin: 0;
  border-top-width: 2px;
}

.profile_avatar_lg {
  width: 160px;
  height: 160px;
}

.support_tickets_messags {
  max-height: 1000px;
}

@media (max-width: 992px) {
  .contact_us_info {
    position: relative !important;
  }

  .topup_pay_options {
    width: 45%;
    min-width: 80px;
  }

  .main_start_play_hr {
    width: 0;
    height: 65%;
    border-left-width: 2px;
    top: 7rem;
    left: 45px;
  }
}
